.env
repo_clone
myenv
.venv
datasets
src/__pycache__
src/scraped_threads_complete.json
src/filtered_threads.txt
src/tools/__pycache__
data_scraping
model_onnx
onnx
qwen25
beaglemind_cli.egg-info/
src/cli/__pycache__
src/helpers/__pycache__
src/models/__pycache__
src/prompts/__pycache__
src/config/__pycache__
src/data_processing/__pycache__
src/evaluation/__pycache__
src/services/__pycache__
src/types/__pycache__